---
{% for key, value in restic_secrets.items() %}
{{ '{{' }} ${{ key }} := "{{ value }}" {{ '}}' }}
{% endfor %}

{% set ns = namespace() %}
{% set ns.combined_config = {} %}

{% for hash_name in restic_config_blocks %}
  {% set config = lookup('vars', hash_name, default={}) %}
  {% set ns.combined_config = ns.combined_config | combine(config, recursive=True) %}
{% endfor %}

{{ ns.combined_config | to_nice_yaml }}
