kind: InitConfiguration
apiVersion: kubeadm.k8s.io/v1beta3
bootstrapTokens:
- groups:
  - system:bootstrappers:kubeadm:default-node-token
  token: {{ kubeadm_bootstrap_token }}
localAPIEndpoint:
  advertiseAddress: {{ api_advertise_address }}
  bindPort: 6443
nodeRegistration:
  name: {{ inventory_hostname }}
  taints:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
---
kind: ClusterConfiguration
apiVersion: kubeadm.k8s.io/v1beta3
apiServer:
  certSANs:
  - {{ ansible_fqdn }}
  - k1.oneill.net
clusterName: kubernetes
controllerManager:
  extraArgs:
    allocate-node-cidrs: "true"
    cloud-provider: external
    cluster-cidr: 10.244.0.0/16
etcd:
  local:
    dataDir: /var/lib/etcd
kubernetesVersion: v{{ kubernetes_version }}
