apiVersion: kubeadm.k8s.io/v1alpha1
kind: MasterConfiguration
token: {{ kubeadm_bootstrap_token }}
controllerManagerExtraArgs:
  allocate-node-cidrs: "true"
  cloud-provider: external
  pod-eviction-timeout: "1m0s"
apiServerCertSANs:
 - {{ ansible_fqdn }}
api:
  advertiseAddress: {{ api_advertise_address }}
networking:
  podSubnet: "10.244.0.0/16"
