---
apiVersion: kubeadm.k8s.io/v1alpha3
kind: ClusterConfiguration
apiServerCertSANs:
 - {{ ansible_fqdn }}
controllerManagerExtraArgs:
  allocate-node-cidrs: "true"
  cloud-provider: external
  pod-eviction-timeout: "1m0s"
networking:
  podSubnet: "10.244.0.0/16"
---
apiVersion: kubeadm.k8s.io/v1alpha3
kind: InitConfiguration
apiEndpoint:
  advertiseAddress: {{ api_advertise_address }}
bootstrapTokens:
- groups:
  - system:bootstrappers:kubeadm:default-node-token
  token: {{ kubeadm_bootstrap_token }}
  ttl: 24h0m0s
  usages:
  - signing
  - authentication
