apiVersion: kubeadm.k8s.io/v1alpha1
kind: MasterConfiguration
token: {{ kubeadm_bootstrap_token }}
controllerManagerExtraArgs:
  allocate-node-cidrs: "true"
  cloud-provider: external
  cluster-cidr: "10.244.0.0/16"
  pod-eviction-timeout: "1m0s"
apiServerCertSANs:
 - {{ ansible_fqdn }}
