*.retry
*.swp

# Ansible
ansible-vault-password
ansible/admin.conf
ansible/super-admin.conf
.galaxy_install_info
ansible/galaxy/**/*.png

# OpenTofu/Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
backend.tf
