---
{% for key, value in restic_secrets.items() %}
{{ '{{' }} ${{ key }} := "{{ value }}" {{ '}}' }}
{% endfor %}

{{ restic_default_config |default({}) | combine(restic_config, recursive=True) | to_nice_yaml }}
