CMDSCRIPT /etc/nut/notify-email.sh
PIPEFN /run/nut/upssched.pipe
LOCKFN /run/nut/upssched.lock

AT ONBATT * START-TIMER onbatt_timer 15
AT ONLINE * START-TIMER online_timer 15
AT LOWBATT * START-TIMER lowbatt_timer 15
AT FSD * START-TIMER fsd_timer 15
AT COMMBAD * START-TIMER commbad_timer 15
AT COMMOK * START-TIMER commok_timer 15
AT REPLBATT * START-TIMER replbatt_timer 15
AT NOCOMM * START-TIMER nocomm_timer 15
AT SHUTDOWN * START-TIMER shutdown_timer 15

AT onbatt_timer * EXECUTE onbatt_timer
AT online_timer * EXECUTE online_timer
AT lowbatt_timer * EXECUTE lowbatt_timer
AT fsd_timer * EXECUTE fsd_timer
AT commbad_timer * EXECUTE commbad_timer
AT commok_timer * EXECUTE commok_timer
AT replbatt_timer * EXECUTE replbatt_timer
AT nocomm_timer * EXECUTE nocomm_timer
AT shutdown_timer * EXECUTE shutdown_timer
